###############################################################################
# .eslintignore
# This configuration file tells ESLint to ignore files and skip linting.
# This speeds up your text editor if you're using an on-the-fly linter.
###############################################################################

###############################################################################
# JavaScript libraries
###############################################################################

/node_modules/



###############################################################################
# Production-Ready JavaScript
###############################################################################

build/scripts/
